<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anxiety Helper</title>

    <link rel="stylesheet" href="../stylesheets/style.css">

</head>

<body>
    <div class="container">

        <div class="topnav">

            <a class="button" href="/vent">Pour Out</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            <a class="" href="#home">Home</a>
            <a href="#" class="logo">
                <img src="./images/Capture.PNG" alt="Logo of the website">
            </a>
        </div>

        <div class="hero">
            <div class="quote">
                <div class="text-quote">
                    "If you want to be happy, set a goal that commands
                    your thoughts, liberates your energy and inspires
                    your hopes."
                    – Andrew Carnegie</div>
            </div>
            <img src="./images/set goals.webp" class="goal-image" width=50% alt="An image of well organized person.">
        </div>
        <div class="hero-footer">

            <img src="./images/Vector 1.png" alt="" class="blob1">
            <div class="blob1-text">What we bring forth.</div>

        </div>
        <div class="text-box">

            <div class="box">
                <img src="./images/selfmoti.PNG" alt="self-motivation" style="width:150%">
                <a href="/motivation"><button class="btn">Explore More</button></a>
            </div>
            <div class="box">
                <img src="./images/positive.PNG" alt="positive affirmation" style="width:150%">
                <a href="/positiveAff"><button class="btn">Explore More</button></a>
            </div>
            <div class="box">
                <img src="./images/vent.PNG" alt="venting space" style="width:150%">
                <a href="/vent"> <button class="btn">Pour Out</button></a>
            </div>
        </div>
        <div class="socials">
            <h3>Follow Us on Our Socials</h3>
            <div class="icons"> <img src="./images/logoFace.png" alt="facebook logo" style="width: 20px;"
                    class="icon" />
                <img src="./images/instagram.png" alt="instagram logo" style="width: 22px" class="icon" />
                <img src="./images/twitter.png" alt="twitter logo" style="width: 22px" class="icon">
            </div>
        </div>
        <div class="footer">

            © 2022 All Rights Reserved,®
            <br>

        </div>
    </div>

</body>

</html>