<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anxiety Helper</title>

    <link rel="stylesheet" href="../stylesheets/style.css">

</head>

<body>
    <div class="container">

        <div class="topnav">

            <a class="button" href="#">Pour Out</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            <a class="" href="#home">Home</a>
            <a href="#" class="logo">
                <img src="./images/Capture.PNG" alt="Logo of the website">
            </a>
        </div>
        <div class="hero">
            <div class="quote">
                <div class="text-quote">
                    "If you want to be happy, set a goal that commands
                    your thoughts, liberates your energy and inspires
                    your hopes."
                    – Andrew Carnegie</div>
            </div>
            <img src="./images/set goals.webp" class="goal-image" width=50% alt="An image of well organized person.">


            <div class="hero-footer">
                <p>Want to feel good or motivated</p>

            </div>
        </div>
        <div class="box">
            <pre class="smm">

    A daily dose of self-
    motivation quotes with 
     inspiring images and  
    videos to boost up your 
                    confidence.</pre>
        </div>

        <div class="footer">
            © 2022 All Rights Reserved,®

        </div>
    </div>

</body>

</html>