<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>self motivation</title>

    <link rel="stylesheet" href="../stylesheets/style.css">

</head>

<body>
    <div class="container">

        <div class="topnav">

            <a class="button" href="/vent">Pour Out</a>
            <a href="/about">About</a>
            <a href="#contact">Contact</a>
            <a href="/">Home</a>
            <a href="#" class="logo">
                <img src="./images/Capture.PNG" alt="Logo of the website" />
            </a>
        </div>

        <img src="./images/Capturee.png" alt="quotes" style="width: 100.1%;">


        <div class="box1" style="padding:20px ">
            <iframe width="460" height="315" src="https://www.youtube.com/embed/d8p-5WcXoRs"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen style="margin-right:20px ; margin-left: 20px;"></iframe>

            <iframe width="460" height="315" src="https://www.youtube.com/embed/-ozOLVOS-R8"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen style="margin-right:20px ;"></iframe>

            <iframe width="460" height="315" src="https://www.youtube.com/embed/eBSeCp__xhI"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

            <iframe width="460" height="315" src="https://www.youtube.com/embed/DoA-a-g2o4g"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen style="margin-right:20px ; margin-left: 20px;"></iframe>

            <iframe width="460" height="315" src="https://www.youtube.com/embed/-fizUVHGHsg"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
            picture-in-picture" allowfullscreen style="margin-right:20px ;"></iframe>

            <iframe width="460" height="315" src="https://www.youtube.com/embed/58cXgweaKm4"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <a href="/motivation"> <button class="img-btn">
                <h1>View Less</h1>
            </button></a>

        <div class="socials">
            <h3>Follow Us on Our Socials</h3>
            <div class="icons"> <img src="./images/logoFace.png" alt="facebook logo" style="width: 20px;"
                    class="icon" />
                <img src="./images/instagram.png" alt="instagram logo" style="width: 22px" class="icon" />
                <img src="./images/twitter.png" alt="twitter logo" style="width: 22px" class="icon">
            </div>
        </div>

        <div class="footer">
            © 2022 All Rights Reserved,®


        </div>
    </div>
</body>

</html>