<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>positive affirmation images</title>

    <link rel="stylesheet" href="../stylesheets/style.css">

</head>

<body>
    <div class="container">

        <div class="topnav">

            <a class="button" href="/vent">Pour Out</a>
            <a href="/about">About</a>
            <a href="#contact">Contact</a>
            <a href="/">Home</a>
            <a href="#" class="logo">
                <img src="./images/Capture.PNG" alt="Logo of the website" />
            </a>
        </div>

        <img src="./images/posi.png" alt="quotes" style="width: 100.2%;">


        <img src="./images/posi2.PNG" alt="positive affirmation" style="width:100%;" />
        <img src="./images/posi3.PNG" alt="positive affirmation" style="width:100%" />
        <a href="/positiveAff"> <button class="img-btn">
                <h1>View Less</h1>
            </button></a>

        <div class="socials">
            <h3>Follow Us on Our Socials</h3>
            <div class="icons"> <img src="./images/logoFace.png" alt="facebook logo" style="width: 20px;"
                    class="icon" />
                <img src="./images/instagram.png" alt="instagram logo" style="width: 22px" class="icon" />
                <img src="./images/twitter.png" alt="twitter logo" style="width: 22px" class="icon">
            </div>
        </div>

        <div class="footer">
            © 2022 All Rights Reserved,®


        </div>
    </div>
</body>

</html>