<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/ventstyle.css">
    <title>venting page</title>
</head>

<body>
    <div class="container">
        <div class="topnav">

            <a class="button" href="/home">Pour Out</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            <a class="" href="/">Home</a>
            <a href="#" class="logo">
                <img src="./images/Capture.PNG" alt="Logo of the website">
            </a>
        </div>
    </div>
    <div class="combine">
        <div id="current_date" style="    margin-left: 45%; padding: 32px;">
            <div class="today">
                <script>
                    date = new Date();
                    year = date.getFullYear();
                    month = date.getMonth() + 1;
                    day = date.getDate();
                    document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
                </script>
            </div>
        </div>

        <div contenteditable class="board" style="margin-top: -8px;">

            <form action="#" class="form-box">

                <label for="" name="The vault without the key ">The vault without the key <br>
                    Be free from your worries.
                </label>
                <textarea name="" id="" cols="100" rows="30" placeholder=" Pour Down Your Emotions. "></textarea>
        </div>
    </div>
    <a class="btn1" href="/home">Pour Out</a>
    </form>

    <div class="socials">
        <h3>Follow Us on Our Socials</h3>
        <div class="icons"> <img src="./images/logoFace.png" alt="facebook logo" style="width: 20px;" class="icon" />
            <img src="./images/instagram.png" alt="instagram logo" style="width: 22px" class="icon" />
            <img src="./images/twitter.png" alt="twitter logo" style="width: 22px" class="icon">
        </div>
    </div>
    <div class="footer">
        © 2022 All Rights Reserved,®

    </div>
</body>


</html>